body {
    background-image: url("../../public/images/to-do.jpg");
    background-size: cover;
}

#Dashboard-header{
    margin-top: -25px;
    margin-left: -22px;
    margin-right: -22px;
}

.alert-dismissible{
    margin-top: -20px;
}